.FirstpageH {
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}

.FirstpageExplain {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    line-height: 24px;
    margin-top: 8px;
    width: 850px;
}

.FirstpageDownload {
  align-items: center;
  background-color: #DFDFDF;
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;

  margin-top: 8px;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.FirstpageDownload:active,
.FirstpageDownload:hover {
  outline: 0;
  opacity: 0.5;
}

.FirstpageDownload:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .FirstpageDownload     {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}