.SecondpageH {
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}

.SecondiconCover{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 555px;
}

.icontainer{
    text-align: center;
    padding: 10px;
}

.icontitle{
    margin-top: 20px;
    font-size: 20px;
}   

.iconExplain{
    margin-top: 30px;
}